.content__card {
    margin: 10px;
    border-radius: 30px;
}

.content {
    display: grid;    
    grid-template-columns: 1;
}

.content__card ::first-letter {
    text-transform: uppercase;
}

@media (min-width:950px){
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }   
}